section{
    width: 100%;
}

.blc-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.blc-info_itm{
    width: 33.33%;
    border-right: 1px solid rgb(73, 74, 82);
    padding: 20px 70px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.blc-info_itm h3{
    margin-bottom: 25px;
}

.blc-info_itm:last-of-type{
    border-right: none;
}

iframe{
    width: 100%;
    height: 35vh;
}